<h1>Admin Dashboard</h1>

<table class='table table-striped table-hover admin-dashboard'>
  <thead>
    <tr class="success">
      <th class="text-center" scope='col'>Products Count</th>
      <th class="text-center" scope='col'>Categories Count</th>
    </tr>
  </thead>
  <tr>
    <td class="text-center">
      <strong>
        <%= link_to @num_prods.to_s, [:admin, :products] %>
      </strong>
    </td>
    <td class="text-center">
      <strong>
        <%=link_to @num_cats.to_s, [:admin, :categories] %>
      </strong>
    </td>
  </tr>
</table>