// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.no-items {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.6em;
}

.admin-dashboard {
  font-size: 1.6em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}