// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.no-items {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.6em;
}

.sold-out {
  display: flex;
  margin-left: -15px;
  margin-top: -15px;
  width: 42%;
  padding: 7px;
  padding-left: 10px;
  background-color: rgb(211, 135, 135);
  color: white;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}